@{
    ViewBag.Title = "Wachtwoord opnieuw ingesteld.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Je wachtwoord is opnieuw ingesteld Druk @Html.ActionLink("hier om in te loggen", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
