@{
    ViewBag.Title = "Over Ons";
}
<h2>@ViewBag.Title.</h2>


<p>Wij zijn van de forma VivesTGV en wij bieden treinreizen aan van en naar de volgende 7 Europese steden:</p>
<ul>
    <li>Brussel</li>
    <li>Londen</li>
    <li>Parijs</li>
    <li>Amsterdam</li>
    <li>Berlijn</li>
    <li>Rome</li>
    <li>Moskou</li>
</ul>
<p>Er zijn 2 soorten treinklassen namelijk de Economic klasse die iets economischer is, en de Business klasse die meer confort en werkruimte aanbiedt.</p>
<p>Ook hebt u de kans om een overnachting in de bestemmingsstad te boeken. Gedurende een maand voor Kerstdag zijn er 30% meer plaatsen beschikbaar, net zoals in de paasvakantie.</p>


